$blue-1: #c3e0ff;
$blue-2: #248cfd;
$blue-3: #0175e4;
$blue-4: #0069cd;

$purple-1: #d1c9fb;
$purple-2: #877df2;
$purple-3: #6554c0;
$purple-4: #5545ae;

$green-1: #dbf0dc;
$green-2: #5bc55d;
$green-3: #357e36;
$green-4: #265a26;

$red-1: #f9d4d2;
$red-2: #e0301e;
$red-3: #b42818;
$red-4: #9d2315;

$yellow-1: #faf4d1;
$yellow-2: #f0dd75;
$yellow-3: #e8cd30;
$yellow-4: #cfb317;

$white: #fff;

$black: #262626;
$black-15: #21242c;
$black-20: #2b303b;
$black-25: #363c49;
$black-32: #404653;
$black-25: #666666;

$grey-42: #58627d;
$grey-50: #6a7792;
$grey-55: #7b869d;
$grey-65: #98a1b3;
$grey-80: #c4c9d4;
$grey-85: #dfe3e6;
$grey-90: #e2e4e9;
$grey-95: #f0f2f4;
$grey-97: #fbfdfd;

$shadow-1: rgba(152, 161, 179, 0.48);
$shadow-2: rgba(152, 161, 179, 0.24);
$shadow-3: rgba(152, 161, 179, 0.12);
